<div class="form-group">
    <label for="vin" class="col-sm-2 control-label">VIN</label>
    <div class="col-sm-10">
        <input type="text" ng-model="electricAutomobile.VIN" class="form-control" id="vin" placeholder="Automobile VIN Here" />
    </div>
</div>
<div class="form-group">
    <label for="make" class="col-sm-2 control-label">Automobile Make</label>
    <div class="col-sm-10">
        <input type="text" ng-model="electricAutomobile.Make" class="form-control" id="name" placeholder="Automobile Make here" />
    </div>
</div>
<div class="form-group">
    <label for="model" class="col-sm-2 control-label">Model</label>
    <div class="col-sm-10">
        <input type="text" ng-model="electricAutomobile.Model" class="form-control" id="model" placeholder="Model here" />
    </div>
</div>
<div class="form-group">
    <label for="odometer" class="col-sm-2 control-label">Odometer Reading</label>
    <div class="col-sm-10">
        <input type="text" ng-model="electricAutomobile.Odometer" class="form-control" id="odometer" placeholder="What is the Odometer Reading?" />
    </div>
</div>
<div class="form-group">
    <label for="year" class="col-sm-2 control-label">Year</label>
    <div class="col-sm-10">
        <input type="text" ng-model="electricAutomobile.Year" class="form-control" id="year" placeholder="What is the year?" />
    </div>
</div>
<div class="form-group">
    <label for="batteryPackWeight" class="col-sm-2 control-label">Battery Pack Weight</label>
    <div class="col-sm-10">
        <input type="text" ng-model="electricAutomobile.BatteryPackWeight" class="form-control" id="batteryPackWeight" placeholder="How heavy is the battery pack?" />
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
</div>