<div>
    <h3 for="plot" class="col-md-offset-2 col-sm-3control-label">Task for VIN: {{task.VIN}}</h3>
</div>
<div class="form-group">
    <label for="plot" class="col-sm-2 control-label">Task Type</label>
    <div class="col-sm-5">
        <div ng-include="'Angular/partials/taskTypes-view.html'" ng-controller="TaskTypeListController"></div>
    </div>
    <div class="col-sm-5" ng-messages="addTaskForm.taskTypes.$error">
        <div class="field-validation-error" ng-message="required">Please select a Type</div>
    </div>
</div>
<div class="form-group">
    <label for="odometer" class="col-sm-2 control-label">Odometer Reading</label>
    <div class="col-sm-5">
        <input type="number" ng-model="task.Odometer" class="form-control" id="odometer" placeholder="What is the Odometer Reading?"
               name="odometer" required min="0" max="10000000" />
    </div>
    <div class="col-sm-5" ng-messages="addTaskForm.odometer.$error">
        <div class="field-validation-error" ng-message="required">Please enter Odometer reading</div>
    </div>
</div>
<div class="form-group">
    <label for="director" class="col-sm-2 control-label">Id</label>
    <div class="col-sm-2">
        <input type="number" ng-model="task.Id" class="form-control" id="id" name="id" min="0" max="10000" required/>
    </div>
    <div class="col-sm-5" ng-messages="addTaskForm.id.$error">
        <div class="field-validation-error" ng-message="required">Please enter an Id</div>
    </div>
</div>
<div class="form-group">
    <label for="director" class="col-sm-2 control-label">Date</label>
    <div class="col-sm-3">
        <md-datepicker ng-model="task.Date" md-placeholder="Enter date" name="date" required></md-datepicker>
    </div>
    <div class="col-sm-7" ng-messages="addTaskForm.date.$error">
        <div class="field-validation-error" ng-message="required">Please enter a Date</div>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
</div>