<table class="table electricAutomobiletable">
    <tr>
        <td><h3>Details for Automobile: {{electricAutomobile.VIN}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>VIN</td>
        <td>{{electricAutomobile.VIN}}</td>
    </tr>
    <tr>
        <td>Automobile Make</td>
        <td>{{electricAutomobile.Make}}</td>
    </tr>
    <tr>
        <td>Automobile Model</td>
        <td>{{electricAutomobile.Model}}</td>
    </tr>
    <tr>
        <td>Automobile Year</td>
        <td>{{electricAutomobile.Year}}</td>
    </tr>
    <tr>
        <td>Odometer Reading</td>
        <td>{{electricAutomobile.Odometer}}</td>
    </tr>
    <tr>
        <td>Battery Pack Weight</td>
        <td>{{electricAutomobile.BatteryPackWeight}}</td>
    </tr>
</table>