<table class="table gasAutomobiletable">
    <tr>
        <td><h3>Details for Automobile: {{gasAutomobile.VIN}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>VIN</td>
        <td>{{gasAutomobile.VIN}}</td>
    </tr>
    <tr>
        <td>Automobile Make</td>
        <td>{{gasAutomobile.Make}}</td>
    </tr>
    <tr>
        <td>Automobile Model</td>
        <td>{{gasAutomobile.Model}}</td>
    </tr>
    <tr>
        <td>Automobile Year</td>
        <td>{{gasAutomobile.Year}}</td>
    </tr>
    <tr>
        <td>Odometer Reading</td>
        <td>{{gasAutomobile.Odometer}}</td>
    </tr>
    <tr>
        <td>Number of Spark Plugs</td>
        <td>{{gasAutomobile.NumberOfSparkPlugs}}</td>
    </tr>
</table>