<table class="table automobiletable">
    <tr>
        <td><h3>All Gas Automobiles</h3></td>
        <td></td>
        <td></td>
        <td><a ui-sref="newGasAutomobile" class="btn-primary btn">Add New task</a></td>
    </tr>
    <tr>
        <td><strong>VIN</strong></td>
        <td><strong>Make</strong></td>
        <td><strong>Model</strong></td>
        <td></td>
    </tr>
    <tr ng-repeat="automobile in gasAutomobiles">
        <td>{{automobile.VIN}}</td>
        <td>{{automobile.Make}}</td>
        <td>{{automobile.Model}}</td>
        <td>
            <a class="btn btn-primary" ui-sref="viewGasAutomobile({id:automobile.VIN})">View</a>
        </td>
    </tr>
</table>