<table class="table tasktable">
    <tr>
        <td><h3>All tasks</h3></td>
        <td></td>
        <td></td>
        <td><a ui-sref="newTask" class="btn-primary btn">Add New task</a></td>
    </tr>
    <tr>
        <td><strong>VIN</strong></td>
        <td><strong>Name</strong></td>
        <td><strong>Date</strong></td>
        <td></td>
    </tr>
    <tr ng-repeat="task in tasks">
        <td>{{task.VIN}}</td>
        <td>{{task.Name}}</td>
        <td>{{task.Date | date:'MM/dd/yyyy'}}</td>
        <td>
            <a class="btn btn-primary" ui-sref="viewTask({id:task.Id})">View</a>
            <a class="btn btn-danger" ng-click="deleteTask({id:task.Id})">Delete</a>
        </td>
    </tr>
</table>